{% extends 'main/landing/index.html' %}
{% load static %}
{% block content %}
<section class="container">
  <div class="mt-2 text-center">
    <h1>Gallery</h1>
  </div>

  <div class="row g-4 mt-4">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem1- Winners.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 1-Winners</span> : Krishnendu Balagopal Menon<span class="light-black-text">(Team Lead)</span>,
         Ashwini K, Anjana TK, Bindu KR <span class="light-black-text">(Mentor)</span>
         <br>(Amrita Vishwa Vidyapeetham)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem2- Winners.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 2- Winners</span> : KS Sarika<span class="light-black-text">(Team Lead)</span>, Anushka M, Malavika G Raj,
         Rifas A Usman <span class="light-black-text">(Mentor)</span>
        <br>(College of engineering trivandrum)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem1-Runner Up.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 1-Runners Up</span> : Anna Rose Bijoy<span class="light-black-text">(Team Lead)</span>,
         Athira MS, Anusha GP, Anulekshmi AI<span class="light-black-text">(Mentor)</span>
         <br>(LBS institute of technology for women)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem2- Runner Up.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 2- Runners Up</span> : Nisha Naziya Parangodath<span class="light-black-text">(Team Lead)</span>, Deva P Lal, Fathima Basheer,
         Aswin R<span class="light-black-text">(Mentor)</span>
         <br>(TKM College of Engineering)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem1-Consolation Prize.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 1-Consolation Prize</span> : Sumana Nesrin M, Mohammed Meehad<span class="light-black-text">(Mentor)</span>
         <br>(Al Jamia arts and science)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem2-Consolation Prize.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 2-Consolation Prize</span> : Shreenithi S<span class="light-black-text">(Team Lead)</span>, Sri Vaishnavi JV, Adwaita Sathrukkan,
         Bindu KR<span class="light-black-text">(Mentor)</span>
         <br>(Amrita Vishwa Vidyapeetham)
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="{% static 'assets/Problem3-Consolation Prize.JPG' %}" alt="" class="gallery-img">
      <p class="mt-2"><span class="fw-bold">Problem 3-Consolation Prize</span> : Meenu S <span class="light-black-text">(Team Lead)</span>, Akshara P, Aiswarya Biju,
         Ajay Prasad P.K <span class="light-black-text">(Mentor)</span>
        <br>(University of Kerala)
      </p>
    </div>
  </div>
</section>


{% endblock %}