:root{
    --primary-blue:#264960;
    --light-gray:#E6EEE6;
    --white:#FFFFFF;
    --black:#000;
    --light-black: rgb(100, 100, 100);
    --pink:rgb(247,77,118);
    --orange:#FD7E14;
    --medium-black:#3A3B3C;
    --gray:gray;
    --light-blue:#19A3FF;
}