
@import url('colors.css');

/* faq */

.width-100{
  width: 100%;
}

.faq-container{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.wrapper {

width: 80%;
margin: 0 auto;
}

h1 {
margin-bottom: 20px;
}

.faq-wrapper {
background-color: white;
color: black;
/* border:1px solid #e3e5e7; */
border-radius: 20px;
box-shadow: 0 2px 8px 0 rgb(0,0,0,0.16);
margin: 20px 0;
}

.question {
font-size: 1.2rem;
font-weight: 500;
padding: 10px 30px 20px 20px;
position: relative;
display: flex;
align-items: center;
cursor: pointer;
}

.question::after {
content: "\002B";
font-size: 2rem;
position: absolute;
right: 20px;
transition: 0.2s;
}
.question:hover{
  color: var(--light-blue);
}
.question.active::after {
transform: rotate(45deg);
}

.answercont {
max-height: 0;
overflow: hidden;
transition: 0.3s;
}

.answer {
padding: 0 20px 20px;
line-height: 1.5rem;
}

/* .question.active + .answercont {
} */

@media screen and (max-width: 790px){
html {
font-size: 14px;
}
.wrapper {
width: 100%;
}
.faq-wrapper{
  margin: 10px 0;
}
}





























/* 
.light-gray-text{
  color:var(--light-black);
} */

/* accordion */

/* .accordion-container{
  margin: 0 auto;
  width: 80% !important;
}


.accordion .accordion-item {
  background-color: var(--white) !important;
  border-bottom: 1px solid #e5e5e5;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: none !important;
  -webkit-border-radius: none !important;
  -moz-border-radius: none !important;
  -ms-border-radius: none !important;
  -o-border-radius: none !important;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid var(--orange);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--black);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none !important;
  outline: none;
  background-color: var(--white) !important;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--orange);
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: var(--orange);
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 40em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  color: var(--light-black);
  margin: 2em 0;
}
@media screen and (max-width:480px){
    .accordion-container{
      margin: 0 auto;
      width: 90% !important;
    }
} */
