@import url('colors.css');

/* footer */
.footer-container{
    border: 1px solid var(--light-blue);
    background-color: var(--light-blue);
    color: #fff;
}
.footer-container a{
    color: #fff;
    text-decoration: none;
}
.footer-container a:hover{
    text-decoration: underline;
}
.Footer-link-wrapper{
    border-left: 3px solid var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding-left: 8px;
}
