@import url("colors.css");

/* ========== background colors  ========== */
.white-shade-gray-bg {
  background-color: var(--white-shade-gray-bg);
}
.nav-bg {
  background-color: var(--blue-shade);
}
.nav-brand-text {
  color: var(--primary-blue);
}
/* ========= */
.accepted-status {
  color: var(--green);
}
.rejected-status {
  color: var(--red);
}
/* ========== review status indicators ========== */
.under-review {
  color: var(--orange-medium);
  background-color: var(--orange-light-bg);
  padding: 6px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.accepted {
  color: var(--green);
  background-color: var(--green-light-bg);
  padding: 6px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.rejected {
  color: var(--red);
  background-color: var(--red-light-bg);
  padding: 6px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.view {
  background-color: var(--blue-light-bg);
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--blue-light-bg);
}
.view a {
  text-decoration: none;
}
.view:hover {
  background-color: var(--blue-light-bg-hover);
}
.edit {
  background-color: var(--violet-light-bg);
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid var(--violet-light-bg);
}
.edit a {
  color: var(--violet);
  text-decoration: none;
}
.edit:hover {
  background-color: var(--violet-light-bg-hover);
}
/*========== Accept , Reject , Cancel and Back buttons ==========*/

.cancel-btn {
  color: var(--blue) !important;
  text-decoration: none;
}
.cancel-btn:hover {
  background-color: var(--blue-light-bg);
}
.back-btn {
  display: flex;
  width: 120px !important;
  padding: 8px;
  background-color: var(--white);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.back-btn:hover {
  color: var(--light-black);
  background-color: var(--white-shade);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
}
/*========== userview table ==========*/
.border-radius-8 {
  overflow: hidden;
  border: 1px solid var(--bs-secondary);
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}
tbody {
  overflow-y: scroll;
}
.tr-border-bottom-none {
  border-bottom: 0px !important;
}
tr {
  border-bottom: 1px solid rgb(214, 214, 214);
}
th {
  text-align: center;
}
td {
  text-align: center;
  padding: 1.25rem !important;
}
/* ========== User Avathar ========== */
.reviewer-avathar {
  border: 1px solid var(--gray);
  border-radius: 50px;
  height: 3.2rem;
  width: 3.2rem;
}
.reviewer-avathar-large {
  border: 1px solid var(--gray);
  border-radius: 50px;
  height: 6rem;
  width: 6rem;
}
.custom-dropdown-toggle {
  border: none !important;
  background: none !important;
}
.user-avathar {
  border: 1px solid var(--gray);
  border-radius: 50px;
  height: 120px;
  width: 120px;
}
.white-div {
  background-color: var(--white-light-gray);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.white-div-wrapper {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
/* ========== Modal ========== */

.btn-close:hover {
  border: 1px solid var(--gray);
  border-radius: 20px;
}

.modal-content {
  border-radius: 8px;
}
/*========== Search and filter ==========*/
/* Search */
#search {
  border: none;
}
