{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

  <link href="https://malayalam.icfoss.org/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
  <!-- icon css -->
  <link rel="stylesheet" href="{% static 'mentor.css'%}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
<body>
  <h1>mentor details</h1>
  <form action="/registration/" class="form" method="POST" enctype ="multipart/form-data">
    {% csrf_token %}
<section class=" h-custom gradient-custom-2">
    <div class="container  ">
                <div class="col-lg-6  text-white">
                  <div class="p-3">
                    <h3 class="fw-normal pt-3  mb-1">Sign Up</h3>
  
                    <div class="mb-2 pb-2 pt-3">
                      <div class="form-outline ">
                        <input type="text" id="firstname" name="name" class="form-control " />
                  <label class="form-label" for="form3Example1cg">Name</label>
                
                      </div>
                    </div>
                   
                  <div class="mb-1 pb-1">
                    <div class="form-outline form-white">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example3cg">Your Email</label>
                    </div>
                  </div>
                    <div class="mb-1 pb-1">
                      <div class="form-outline form-white">
                        <input type="text" id="phone" name="phoneno" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Your Phone No.</label>
                      </div>
                    </div>
                    <div class="mb-1 pb-1">
                      <div class="form-outline form-white">
                        <input type="text" id="phone" name="institution_name" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Institution Name</label>
                      </div>
                    </div>
                    <div class="mb-1 pb-1">
                      <div class="form-outline form-white">
                        <input type="text" id="designation" name="designation" class="form-control form-control-lg" />
                    <label class="form-label" for="form3Example3cg">Designation</label>
                      </div>
                    </div>
  
                    <div class="row">
                
                    </div>
                    <button type="submit" class="btn btn-light btn-lg"
                      data-mdb-ripple-color="dark">Next</button>
  
                  </div>
                </div>
              </div>
            </div>

         
            </form>
            </body>
         

</body>
  </html>