{% extends "main/login.html" %}

{% block auth %}

<h1>Reset Password</h1>
<p class="m-0 small">Enter Your registered Email</p>
<form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="material-textfield mt-4">
        <input placeholder=" " type="email" id="id_email" name="csrfmiddlewaretoken" class="width-100" required >
        <label for="id_email" class="input-label">Email*</label>
    </div>
    <button type="submit" class="mt-4 btn secondary-button">submit</button>
</form>

{% endblock %}