{%extends "main/home.html"%}
{% load static %}
{% block view %}

<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootsrap css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    <!-- style sheets -->
    <link rel="stylesheet" href="{% static 'main/common.css' %}" />
    <link rel="stylesheet" href="{% static 'main/inputstyle.css' %}" />

    <title>User Form</title>
  </head>

  
<!-- start -->
<form action="" class="form b-3 mt-md-3" method="GET" enctype="multipart/form-data">


<div class="vh-100 d-flex justify-content-left align-items-left">

  <div class="container">
    <h3 class="mb-3">Leader Profile</h3>

    
    <div class="row d-flex justify-content-left">
      <div class="col-12 col-md-8 col-lg-8">

        <div class="card bg-light">
          <div class="card-body p-5 mb-3">
            <h2 class="fw-light mb-2">Leader</h2>


              {% csrf_token %}
                    {% if participant %}
                    <img src="{{ participant.upload_photo.url }}" alt="" height="170" width="138" style="border: 1px solid rgb(2, 117, 216); border-radius: 3px; margin-top: 2rem;">

                    <br/>  
                    <br><p class="card-title" style="font-size: x-large;">{{ participant.teamleadname }}</p>
                                           

                      <p class="card-text"> <b>{{ participant.institution_name }}</b> <br/>
                      {{ participant.institution_address }}<br/></p>
                      <p class="card-text">Contact Number : {{ participant.phone }}</p>

                      {% else %}
                      <div>
                        No profile found
                      </div>
                      {% endif %}
                  <a class="btn btn-primary" href="/updateuserprofile/" role="button">Edit</a>&nbsp; &nbsp;

                  <a class="btn btn-primary" href="{{ participant.college_id.url }}" role="button" target="_blank">View ID</a>
                       

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</form>

<!-- end -->
    

  </body>

  </html>
  {% endblock %}

  