{%extends "main/home.html"%}
{% load static %}
{% block view %}

<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootsrap css cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
    <!-- style sheets -->
    <link rel="stylesheet" href="{% static 'main/common.css' %}" />
    <link rel="stylesheet" href="{% static 'main/inputstyle.css' %}" />

    <title>Problem Statement</title>
  </head>
<body>

<!-- start -->
<form action=""  class="form" method="GET" enctype ="multipart/form-data">

<div class="vh-100 d-flex justify-content-left align-items-left">
  <div class="container">
    <h3>Problem Statement</h3>

    <div class="row d-flex justify-content-left">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-light">
          <div class="card-body p-5">
            <h2 class="fw-light mb-2">Problem Details</h2>

              {% csrf_token %}
             
              {% if problemdetails %}
                      
                      <p class="card-text"> <b>{{ problemdetails.problem_name }}</b><br/></p>
  
                        <p class="card-text">{{ problemdetails.description }}<br/></p>


                                            
                      <!-- <p><a href="{{ solutiondetails.solution_upload.url }}">View Uploaded Solution</a></p> -->
                      <a class="btn btn-primary" href="{{ solutiondetails.solution_upload.url }}" role="button">View Solution</a>


                      {% else %}
                      <div>
                        No problem were selected
                      </div>
                  {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<!-- end -->
             
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
  </html>
  {% endblock %}