{%extends "main/home.html"%} {% load static %} {% block view %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootsrap css cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
  <!-- style sheets -->
  <link rel="stylesheet" href="{% static 'main/common.css' %}" />
  <link rel="stylesheet" href="{% static 'main/inputstyle.css' %}" />

  <title>Registraion Form</title>
</head>

<body>
  <!-- start -->
  <form action="" class="form" method="GET" enctype="multipart/form-data">
    <div class="vh-100 d-flex justify-content-left align-items-left">
      <div class="container">
        <div class="row d-flex justify-content-right">
          <!-- <div class="col md-4" style="text-align: right;"> -->
          <div class="col md-4" style="text-align: center;">

            {% if length < 2 %} 
            <!-- ></2> -->
              <p>Click here to add </p>
              <div class="mb-4">
                <a class="btn btn-primary" href="/add_member/">Add Member</a>
                <br />
              </div>
          </div>
          {% endif %}
        </div>
        <h3 class="mb-3">Team Members</h3>
        <!-- <h3>Team Members</h3> -->



        <div class="row d-flex justify-content-left">
          {% csrf_token %}
          {% if memberdetails %}
          <!-- <div class="row"> -->
          <div class="col-md-9 col-lg-9">
            {% for member in memberdetails %}

            <div class="card bg-light">
              <div class="card-body p-5">
                <!-- <h2 class="fw-light mb-2">Member {{ member.id }}</h2> -->
                <!-- <h2 class="fw-light mb-2">Member</h2> -->

                <img src="{{ member.upload_photo.url }}" alt="" height="170" width="138" style="
                      border: 1px solid rgb(2, 117, 216);
                      border-radius: 3px;
                      margin-top: 1px;
                    " />

                <br />
                <br />
                <p class="card-title" style="font-size: x-large">
                  {{ member.name }}
                </p>

                <p class="card-text">
                  <b>{{ member.institution_name }}</b> <br />
                </p>
                <p class="card-text">
                  Contact Number : {{ member.phoneno }} <br />
                  Email:{{ member.email }}
                </p>
                <div>
                  <a class="btn btn-outline-primary" href="{{ member.institution_id.url }}" role="button" target="_blank" >View ID</a>
                </div>

                <!-- <img src="{{ member.institution_id }}" alt="id" height="100"> -->

                &nbsp;
                <div>
                  <!-- <a href="/updatememberprofile/{{member.id}}">
                    <button type="button" class="btn btn-primary">Update</button>
                  </a> -->

                  <a class="btn btn-primary" href="/updatememberprofile/{{member.id}}">Update</a>
                  &nbsp;

                  <a href="/delete-member/{{member.id}}">
                    <button type="button" class="btn btn-outline-danger">
                      Delete
                    </button>
                  </a>
                  <!-- </div> -->
                </div>
              </div>


              {% endfor %}

              {% else %}
              <div class="mb-2">No Members were added</div>
              <br />
            </div>
          </div>
        </div>
        {% endif %}

        <!-- <div class="mt-10"> -->
        <!-- <div> -->
        <!-- <button type="submit" class="btn btn-outline-primary">
              {% if length < 2 %} <a href="/add_member/">Add</a>
                {% else %}
                {% endif %}
            </button> -->

        <!-- {% if length < 2 %}
                    ></2>
                    <div class="mb-4">
                    
                      <a class="btn btn-primary" href="/add_member/">Add Member</a>
                      <br /> -->

        <!-- </div> -->

        <!-- </div> -->


        <!-- </div> -->
        <!-- {% endif %} -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>

  </form>

  <!-- </div> -->
  <!-- </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- end -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{% endblock %}