{%extends "main/home.html"%}
{% load static %}
{% block view %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- bootsrap css cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
    integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
    crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}" /> -->
  <!-- style sheets -->
  <link rel="stylesheet" href="{% static 'main/common.css' %}" />
  <link rel="stylesheet" href="{% static 'main/inputstyle.css' %}" />

  <title>Registraion Form</title>
</head>

<body>


  <!-- start -->
  <form action="" class="form b-3 mt-md-4 " method="GET" enctype="multipart/form-data">

<div class="vh-100 d-flex justify-content-left align-items-left">
  <div class="container">
    <div class="row d-flex justify-content-left">
      <div class="col-12 col-md-8 col-lg-8">
        <div class="card bg-light">
          <div class="card-body p-5">
            <h3 class="fw-light mb-2">Mentor Details</h3>


              {% csrf_token %}
              {% if mentordetails %}
              <!-- <label> <img src="{{ mentordetails.upload_photo.url }}" alt="" height="100"></label> -->
              <img src="{{ mentordetails.upload_photo.url }}" alt="" height="170" width="138" style="border: 1px solid rgb(2, 117, 216); border-radius: 3px; margin-top: 2rem;">

                    <br/>  
                    <br><p class="card-title" style="font-size: x-large;">{{ mentordetails.name }}</p>

                    <p class="card-text"> <b>{{ mentordetails.institution_name }}</b><br/>
                      {{ mentordetails.designation }}<br/></p>

                      <p class="card-text">Contact Number : {{ mentordetails.phoneno }}<br/>
                      Email : {{ mentordetails.email }} </p>


                      {% if length >= 1%}
                      
              <div>
              <a href="/updatementorprofile/">
                  <button type="button" class="btn btn-primary">Update</button>
                </a>&nbsp;
              
                <a href="/deletementor/">
                  <button type="button" class="btn btn-outline-danger">Delete</button>
                </a>
              </div>

               {% endif %}

              {% else %}
              <div>
                No mentor were added
              </div>
          {% endif %}

                <div>
                    <button type="submit" class="btn btn-outline-primary">
                      {% if length < 1 %} <a href="/mentor/">Add</a>
                    </button>
                  </div>

                        {% else %}
                        {% endif %}  

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<!-- end -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
{% endblock %}